@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor {
  @apply w-3/4 mx-auto my-10 border-white self-center border-2 rounded-lg;
}

/* .fr-quick-insert
{
  @apply bg-green-300!;
} */

/* Custom styles for the Quick Insert button without @apply */
.fr-quick-insert {
 @apply !left-[-48px] !justify-center !items-center !text-center;
}

.fr-second-toolbar a {
@apply !hidden
}

.fr-floating-btn {
@apply  !flex !justify-center !items-center !text-center 
}

.fr-qi-helper {
  @apply !flex !flex-row
}